.dashboard-view .row {
    margin: -10px;
}

.dashboard-view [class^=col] {
    padding: 10px;
}

.dashboard-view {
    padding: 20px;
}

.dashboard-view .card {
    height: 140px;
    border-radius: 4px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.1);
}

.dashboard-view .map-card {
    height: auto;
}

.dashboard-view .statistics-card {
    height: 333px;
}

.card-content {
    margin: 10px;
}

.oval {
    height: 50px;
    width: 50px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: red;
}

.media-body {
    margin: 4px 0 0 10px;
}
