body {
  overflow-x: hidden;
  color: #444A49;
}

a, a:hover {
  color: #444A49;
}

h1, .h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    margin-bottom: 4px;
}

h2, .h2 {
    font-size: 24px;
}

h3, .h3 {
    font-size: 18px;
}

h4, .h4 {
    color: #8F939C;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}

h5, .h5 {
    font-size: 13px;
}

.note {
    color: #B2BCC3;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: normal;
}
#wrapper {
  padding-left: 0;
  min-height: 100vh;
  background: #EBEBEB;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header {
    height: 50px;
    padding: 0 40px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.13);
}

.header .dropdown-menu {
    left: auto;
    right: 0;
    margin: 0;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  top: 0;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #657987;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
.your-logo {
  padding: 32px 0px 48px 18px;
}

.sidebar-nav {
  position: absolute;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li a {
  height: 65px;
  display: flex;
  padding-left: 32px;
  align-items: center;
  color: #FFF;
  opacity: 0.46;
}
.sidebar-nav li a span {
  padding-left: 24px;
}
.sidebar-nav li a.active {
  opacity: 1;
  background: #5A6B78;
  box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.5);
  text-decoration: none;
}
.sidebar-nav li a:hover {
  opacity: 1;
  text-decoration: none;
}

.padding-top {
  padding-top: 10px;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .navbar-toggler {
    display: none;
  }
}
